{% load i18n %}

<footer class="container mx-auto text-center py-20 border-t font-medium text-gray-500">
    <div class="flex flex-col sm:flex-row justify-center items-center">
        
        <div class="w-full sm:w-1/3 flex justify-start">
            {% get_current_language as LANGUAGE_CODE %}
            <select class="mx-auto sm:mx-0 w-11/12 sm:w-7/12 h-auto mb-5 mt-1 sm:mb-0" id="js-lang">
                <option disabled selected hidden class="text-gray-500">Select Language</option>
                <option value="en" class="text-gray-500">English</option>
                <option value="ko" class="text-gray-500">Korean</option>
            </select> 

        </div>
        <div class="flex flex-col w-full sm:w-1/3">
            <span>{% trans "Please don't copy us." %}</span>
            <span>&copy; 2021 Nbnb, Inc. {% trans "All Rights Reserved" %}.</span>
        </div>
        <div class="w-0 sm:w-1/3"></div>
    </div>
</footer>
