{% load i18n %}
<ul class="flex justify-end items-center text-sm font-medium h-full flex-wrap mr-4 galaxy-fold-mr">
  {% if user.is_authenticated %}
  <li class="nav_link w-1/6 sm:w-auto"><a class="text-center" href="{% url 'users:switch-hosting' %}">
    {% if request.session.is_hosting %}
      {% trans "Stop hosting" %}
    {% else %}
      {% trans "Start hosting" %}
    {% endif %}
  </a></li>
  <li class="nav_link w-1/6 sm:w-auto"><a class="text-center" href="{{user.get_absolute_url}}">{% trans "Profile" %}</a></li>
  <li class="nav_link w-1/6 sm:w-auto"><a class="text-center" href="{% url "users:logout" %}">{% trans "Log out" %}</a></li>
  {% else %}
  <li class="nav_link w-1/6 sm:w-auto"><a class="text-center" href="{% url "users:login" %}">{% trans "Log in" %}</a></li>
  <li class="nav_link w-1/6 sm:w-auto"><a class="text-center" href="{% url "users:signup" %}">{% trans "Sign up" %}</a></li>
    
  {% endif %}
</ul>


  