{% extends "base.html" %}

{% block page_title %}
Room Delete
{% endblock page_title %}

{% block search-bar %}
  
{% endblock search-bar %}

{% block content %}

<div class="container mx-auto w-11/12 my-10 flex flex-col items-center border p-6 border-gray-400 lg:w-5/12 md:w-7/12 xl:w-1/4 sm:w-9/12">

            <div class="w-full flex flex-col items-center mb-5">
                <span class="block mb-3 text-red-400 text-2xl font-bold text-center">Are you sure to delete the room?</span>
                <span class="block mb-3 text-red-500 text-xl font-semibold text-center">This action is not retrievable</span>
            </div>
            <div class="w-full flex flex-col">
            <form action="{% url 'rooms:deleted' pk %}" method="POST" class="w-full">
                {% csrf_token %}
                <button class="text-white w-full bg-red-500 btn">Yes</button>
            </form>
            <!-- <a class="text-white w-full bg-red-500 btn" href="{% url 'rooms:deleted' 56 %}">Yes</a> -->
            <button class="text-white bg-gray-400 btn w-full mt-3" onclick="goBack()">No</button>


            </div>


        

</div>


{% endblock content %}