{% extends "base.html" %}
{% load is_booked %}
{% load i18n %}
{% load on_favs %}
<!-- If u made a folder or file, u should kill ur server and restart it -->

{% block page_title %} 
{{room.name}}
{% endblock page_title %}

{% block content %}

<div class="container max-w-full h-h-50 sm:h-h-75 sm:mb-20 flex -mt-5 bg-gray-200">
  {% if room.first_photo %}
  <div class="w-full sm:w-1/2 h-full rounded-lg mb-2 bg-center bg-cover" style="background-image: url({{room.first_photo}});"></div>
  {% else %}
  <div class="w-full sm:w-1/2 h-full rounded-lg mb-2 bg-gray-200 flex justify-center items-center">
    <span class="text-white font-semibold text-3xl">No Photos</span>
  </div>
  {% endif %}
  <div class="sm:h-full sm:w-1/2 sm:flex sm:flex-wrap">
    {% if room.get_next_four_photos %}
    {% for photo in room.get_next_four_photos %}
    <div style="background-image:url({{photo.file.url}});" class="w-1/2 h-auto bg-cover bg-center border border-gray-500"></div>
    {% endfor %}
    {% else %}
      
    {% endif %}
  </div>
</div>

<div class="container mx-auto flex sm:flex-row-reverse justify-center flex-wrap pb-56">
  <div class="mt-1 mb-3 sm:my-0 sm:ml-10 w-full sm:w-1/3">
    {% if room.host == user %}
    <a href="{% url 'rooms:edit' room.pk %}" class="btn-link block mb-3 bg-green-500 sm:ml-10">Edit Room</a>
    <a href="{% url 'rooms:delete' room.pk %}" class="btn-link block mb-3 sm:ml-10">Delete Room</a>
    <a href="{% url 'rooms:room-reservations' room.pk %}" class="btn-link block sm:ml-10 bg-yellow-400">Check Reservations</a>
    <!-- <div class="w-full text-center">
      <span class="font-extrabold mx-auto mt-px text-yellow-600" >WARNING!!! THIS ACTION IS NOT RETREATABLE!!</span>
      
    </div> -->
    {% else %}
    {% if not request.session.is_hosting and user.is_authenticated %}
    <div class="w-full">
      {% for calendar in room.get_calendars %}
      <div class="mb-20 flex flex-col items-center">
        <div>
          <span class="text-center text-lg block mb-8 font-semibold">{{calendar.get_month}}/{{calendar.year}}</span>
        </div>
        <div class="grid grid-cols-7 mb-4 gap-x-6 justify-center mx-5 sm:mx-0">
          {% for day in calendar.day_names %}
          <span class="block mb-5 font-semibold">
            {{day}}
          </span>
          {% endfor %}
          {% for day in calendar.get_days %}
            {% is_booked room day as is_booked_bool %}
            {% if day.number != 0 %}
            {% if day.past %}
            <span class="bg-gray-200 text-center rounded text-gray-300 
            p-1  mb-3 block" 
            style="width:150%; margin-left: -25%;">{{day.number}}</span>
            {% elif is_booked_bool %}
            <span class="bg-gray-200 text-center rounded text-gray-300 
            p-1  mb-3 block line-through" 
            style="width:150%; margin-left: -25%;">{{day.number}}</span>
            {% else %}
            <a class="bg-gray-200 text-center rounded text-gray-700 
            p-1 hover:bg-green-400 hover:text-white cursor-pointer mb-3 block" 
            style="width:150%; margin-left: -25%;" href="{% url 'reservations:create' room.pk day.year day.month day.number %}">{{day.number}}</a>
            {% endif %}
            {% else %}
            <span class="mb-3 block"></span>
            {% endif %}
          {% endfor %}
        </div>
        <div class="grid grid-cols-7 mb-4 justify-center gap-14">

        </div>

      </div>
      {% endfor %}
    </div>
    {% endif %}
      

    {% endif %}
  </div>
  <div class="w-full sm:w-1/2">
    <div class="flex justify-between w-11/12 mx-auto sm:w-full">
      <div class="mb-5 mr-4 sm:mr-1">
        <h4 class="text-3xl font-medium mb-px">{{room.name}}</h4>
        <span class="text-gray-700 font-light">{{room.city}}</span>
      </div>
      <a class="flex flex-col items-center" href="{{room.host.get_absolute_url}}">
        {% include "mixins/user_avatar.html" with user=room.host %}
        <span class="mt-3 text-gray-500">{{room.host.first_name}}</span>
      </a>
    </div>

    
    <div class="flex border-section justify-center sm:justify-start">
      <span class="mx-2 text-xs sm:text-sm sm:mr-5">{{room.room_type}}</span>
      <span class="mx-2 text-xs sm:text-sm sm:mr-5">{{room.beds}} bed{{room.beds|pluralize}}</span>
      <span class="mx-2 text-xs sm:text-sm sm:mr-5">{{room.bedrooms}} bedroom{{room.bedrooms|pluralize}}</span>
      <span class="mx-2 text-xs sm:text-sm sm:mr-5">{{room.baths}} bath{{room.baths|pluralize}}</span>
      <span class="mx-2 text-xs sm:text-sm sm:mr-5">{{room.guests}} guest{{room.guests|pluralize}}</span>
    </div>
    <p class="border-section text-center sm:text-left">
      {{room.description}}
    </p>
    <div class="border-section">
      <h4 class="font-medium text-lg mb-5 ml-8 sm:ml-1">Amenities</h4>
      {% for a in room.amenities.all %}
        <li class="mb-2 ml-5 sm:ml-1">{{a}}</li>
      {% endfor %}
    </div>
    <div class="border-section">
      <h4 class="font-medium text-lg mb-5 ml-8 sm:ml-1">Facilities</h4>
      {% for f in room.facilities.all %}
        <li class="mb-2 ml-5 sm:ml-1">{{f}}</li>
      {% endfor %}
    </div>
    <div class="border-section">
      <h4 class="font-medium text-lg mb-5 ml-8 sm:ml-1">House Rules</h4>
      {% for h in room.house_rules.all %}
        <li class="mb-2 ml-5 sm:ml-1">{{h}}</li>
      {% endfor %}
    </div>
    <div class="mt-10">
      <h4 class="font-medium text-2xl mb-5 ml-8 sm:ml-1">Reviews</h4>
      <div class="flex items-center mb-5">
        <div class="ml-7 sm:ml-1">
          <div class="fas fa-star text-green-500"><span class="font-bold text-xl">{{room.total_rating}} </span></div>
        </div>
        <div class="h-4 w-px bg-gray-400 mx-5"></div>
        <div>
          <span class="font-bold text-xl">{{room.reviews.count}}</span>
          <span class="ml-1">review{{room.reviews.count|pluralize}}</span>
        </div>

      </div>
      <div class="mt-10">
        {% for r in room.reviews.all %}
          <div class="mb-2 ml-5 sm:ml-1 border-section">
            <div class="mb-3 flex">
            <div>
              {% include "mixins/user_avatar.html" with user=r.user h_and_w='w-10 h-10' text='text-xl' %}
            </div>
            <div class="flex flex-col ml-5">
              <span class="font-medium">{{r.user.first_name}}</span>
              <span class="text-sm text-gray-500">{{r.created|date:'F Y'}}</span>
            </div>
          </div>
            <p>{{r.review}}</p>
          </div>
        {% endfor %}

      </div>
    </div>

  </div>
</div>

<!-- <div>
    <h1>{{room.name}}</h1>
    <h3>{{room.description}}</h3>
</div>
<div>
    <h2>By: <a href="{{room.host.get_absolute_url}}">{{room.host.username}}</a>

        {% if room.host.superhost %}

          (superhost)

        {% endif %}
    </h2>
    <h3>Amenities</h3>

    {% for a in room.amenities.all %}

      <li>{{a}}</li>

    {% endfor %}

    <h3>Facilities</h3>

    {% for f in room.facilities.all %}

      <li>{{f}}</li>

    {% endfor %}

    <h3>House Rules</h3>

    {% for h in room.house_rules.all %}

      <li>{{h}}</li>

    {% endfor %}
    
</div> -->
  
{% endblock content %}