{% extends "base.html" %}

{% block page_title %}
Search
{% endblock page_title %}

{% block search-bar %}
  
{% endblock search-bar %}

{% block content %}

<h2>Search!</h2>

<form action="{% url "rooms:search" %}" method="GET">
      {{form.as_p}}
    <button>Search</button>
  </form>

  <h3>Results</h3>

  {% for room in rooms %}
    <h3>{{room.name}}</h3>
  {% endfor %}

{% if page_obj %}

  <h5>
    {% if page_obj.has_previous %}
    <a href="?page={{page_obj.number|add:-1}}">Previous</a>
    {% endif %}
    Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
    {% if page_obj.has_next %}
    <a href="?page={{page_obj.number|add:+1}}">Next</a>
    {% endif %}
</h5>
  
{% endif %}





<h4>Searching by {{city}}</h4>
  
{% endblock content %}