{% extends "base.html" %}

{% block page_title %}
Log In
{% endblock page_title %}

{% block search-bar %}
  
{% endblock search-bar %}

{% block content %}

<div class="container h-h-75 mx-auto w-11/12 my-10 flex flex-col items-center border p-6 border-gray-400 lg:w-5/12 md:w-7/12 xl:w-1/4 sm:w-9/12">

    {% include "partials/social_login.html" %}
    
    {% include "mixins/auth/auth_form.html" with form=form cta="Log in" %}

    <div class="mt-5">
        <span class="mr-2">Don't have an account?</span><a class="text-green-500 font-semibold" href="{% url 'users:signup' %}">Sign Up</a>
    </div>
</div>


{% endblock content %}