{% extends "base.html" %}

{% block page_title %}
{{user.first_name}}'s Profile
{% endblock page_title %}


{% block content %}

<div class="h-full sm:h-h-100">

    
    <div class="container mx-auto my-10 flex flex-col items-center border p-6 border-gray-400
    lg:w-5/12 md:w-1/2 xl:w-1/4 sm:w-full">
    
        {% include "mixins/user_avatar.html" with user=user %}
        <div class="flex items-center">
            <span class="font-semibold text-3xl mt-1">
                {{user.first_name}}
            </span>
            <span>
                {% if user.superhost %}
                  <i class="fas fa-check-circle text-green-400 ml-1"></i>
                {% endif %}
        
            </span>
    
        </div>
        <span class="text-lg mb-5">
            {{user.bio}}
    
        </span>
    
        {% if user == user %}
        <a href="{% url 'users:update' %}" class="btn-link">Edit Profile</a>
        {% if request.session.is_hosting %}
        <a class="btn-link mt-3 bg-green-400" href="{% url 'rooms:create' %}">Create Room</a>
        {% else %}
        <a class="btn-link mt-3 bg-green-400" href="{% url 'users:my-reservations' user.pk %}">My Reservations</a>
        <a class="btn-link mt-3 bg-yellow-400" href="{% url 'lists:see-favs' %}">My Favourites</a>
        {% endif %}
          
        {% endif %}
        
    
        </div>
    
        {% if user.rooms.count > 0 %}
        <div class="container flex flex-col items-center justify-center pb-10 mx-auto">
            <h3 class="mb-12 text-2xl">{{user.first_name}}'s Rooms</h3>
            <div class="flex flex-wrap -mx-30 mb-10 w-full">
                {% for room in user.rooms.all %}
                    {% include "mixins/room_card.html" with room=room %}
                {% endfor %} 
            </div>
        </div>
          
        {% endif %}
</div>

{% endblock content %}